<header class="head">
    <div class="logo">Ayushi Verma</div>
    <div class="nav-list">
        <a href="/">Home</a>
        <a href="#project">Project</a>
        <a href="/experience">Experience</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
    </div>
</header>