@media screen and (max-width: 767px) {
  .nav {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
  }
  .nav a{
    font-size: 12px;
    font-weight: 500;
  }
 

  

  .projects h2 {
    font-size: 8vw;
    margin-top: 6vw;
    padding: 4vw 4vw;
  }
  .project-box {
    width: 100%;
    margin-bottom: 8vw;
    padding: 4vw;
    /* background-color: #f9f9f9; */
    border-radius: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
  }

  .imgcnt {
    aspect-ratio: 3 / 3;
  overflow: hidden;
  border-radius: 20px;
  }
  .imgcnt img {
    transition: transform 0.3s ease;
    border-radius: 20px;
  }
  .imgcnt:hover img{
    transform: scale(1.3);
  }

  .desc h4 {
    font-size: 6vw;
  font-weight: 600;
  margin-top: 4vw;

  }
  .desc p {
    font-size: 4vw;
    line-height: 1.5;
    margin-top: 2vw;
  }

  .contact {
    min-height: 55vh;
  }

  .contact .info h1 {
    font-size: 10vw;
    padding-top: 8vw;
  }

  .info p {
    font-size: 3.5vw;
    text-align: center;
    margin: 2vw 0;
    line-height: 4.5vw;
  }

  .contact-content span {
    display: none;
  }

  .contact-content {
    justify-content: center;
    margin: 5vw 0;
  }
  #contact-form {
    width: 100%;
    padding: 0;
  }

  #contact-form textarea {
    height: 25vw;
  }

  .footer-p {
    padding: 4vw 0;
    font-size: 13px;
  }
  #contact-form input,
  textarea {
    height: 10vw;
    margin: 8px 0;
  }

  #credit-overlay {
    /* display:block; */
    padding: 2vw;
  }
  #credit-content {
    flex-direction: column;
    gap: 15px;
    line-height: 15px;
    margin-top: 2vw;
    padding-left: 2vw;
  }
  #credit-content p {
    font-size: 12px;
  }

  #close-btn {
    width: 40px;
  }
}
